/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* box-shadow:0 10px 20px 2px rgba(0, 0, 0, 0.08) */

:root {

    /* Colors */

    --black-color: #000000;
    --black-2-color: #202020;
    --white-color: #ffffff;
    --primary-color: #000000;
    --secondary-color: #F7F8F9;
    --teritiary-color: #404040;
    --text-color: #D0D0D0;
    --border-color: #333333;
    --grey-bg-w-color: #606060;
    --grey-bg-b-color: #808080;

    /* Responsive */

    --ps-gutter: min(100vw, 1440px);
    --ps-gutter-mob: 24px;

}

/* .cursor {
    cursor: url('../img/cursors/cursor.svg'), auto;
} */

.content {
    background-color: var(--black-color);
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    margin: 0 !important;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
}



* {
    font-family: "Hanken Grotesk", sans-serif;
}


.loader-styling {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.circle-loader {
    display: flex;
    gap: 8px;
}

.circle-input {
    width: 6px;
    height: 6px;
    background-color: var(--grey-bg-b-color);
    border-radius: 100%;
    animation: translateCircle 1.2s ease-in-out infinite;
    /* Define animation */
}

/* Keyframe Animation for translating the circles */
@keyframes translateCircle {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Add a delay to each circle for staggering the animation */
.circle-input:nth-child(1) {
    animation-delay: 0s;
}

.circle-input:nth-child(2) {
    animation-delay: 0.4s;
}

.circle-input:nth-child(3) {
    animation-delay: 0.8s;
}

.nav-bar {
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid transparent;
    transition: 0.3s cubic-bezier(0.91, -0.21, 0, 1.39);
    transform: translateY(6px);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.nav-bar.scrolled {
    border-bottom: 1px solid var(--border-color);
    transform: translateY(0px);
}

.nav-main {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    display: flex;
    padding: 14px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin: auto;
}

.menu-icon {
    display: none;
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 40vh;
    background: #fff;
    transition: position .3s ease-in-out;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    visibility: hidden;
}

.mob-nav-btns {
    display: none;
}

.menu-container.active {
    display: none;
    /* Show the menu container when active */
}


.header-text {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 300;
}

.header-text:hover {
    color: var(--white-color);
    transition: color .2s ease-in-out;
}

.btn-1 {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 10px;
    background: var(--black-2-color);
    transition: 0.2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    color: var(--white-color);
    border-radius: 99px;
}

.btn-1:hover {
    background-color: var(--teritiary-color);
}

.btn-1:active {
    transform: scale(0.98);
}

.btn-2 {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    color: var(--grey-bg-b-color);
}

.btn-2:hover {
    background-color: var(--black-2-color);
}

.btn-2:active {
    transform: scale(0.98);
}

.btn-3 {
    display: flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background: var(--teritiary-color);
    width: fit-content;
}

.btn-3:hover {
    background-color: var(--text-color);
}

.btn-3:active {
    transform: scale(0.98);
}



.nav-btns {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.full-bg {
    height: 100%;
    width: 100%;
    background-color: var(--black-color);
}

.bg-main {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    padding: 0 0 100px 0;
}

.width-unset {
    width: unset !important;
}

.bg-full {
    padding: 80px 0;
}


.intro-section-main {
    width: 100%;
    display: flex;
    place-items: center;
    margin-top: 32vh;
}

.intro-section {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}

.intro-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.intro-white-text {
    color: var(--white-color);
    font-weight: 300;
}

.intro-grey-text {
    color: var(--grey-bg-b-color);
    font-weight: 300;
}

.intro-link {
    margin-right: 10px;
    cursor: pointer;
}

.intro-link:hover {
    text-decoration: underline;
}


.intro-content p {
    font-size: clamp(20px, 1.7vw, 29px);
    font-weight: 300;
    color: var(--white-color) !important;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 32vh;
}

.intro-content a {
    color: var(--white-color);
    cursor: pointer;
    background-image: linear-gradient(138deg, #0895FF, #C952DD 34%, #FF2E55 68%, #FF9014);
    background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-weight: 300;
}

.intro-content a:hover {
    background-image: linear-gradient(158deg, #0895FF, #C952DD 34%, #FF2E55 68%, #FF9014);
    transition: transform 0.2s ease-in-out;
}



.width-50 {
    width: 50%;
}

.scroll-btn {
    display: flex;
    align-items: center;
    padding: 10px 14px;
    background: var(--black-2-color);
    width: fit-content;
    gap: 10px;
    color: var(--grey-bg-b-color);
    transition: transform 0.2s ease-in-out;
    border-radius: 99px;
    cursor: pointer;
}

.scroll-btn a {
    color: var(--grey-bg-b-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.scroll-btn img {
    transition: 0.2s ease-in-out;
}

.scroll-btn:hover {
    img {
        transform: translateY(2px);
    }

    background-color: var(--teritiary-color);
}

.scroll-btn:active {
    transform: scale(0.98);
}



.intro-img {
    width: 80px;
    height: 80px;
    border-radius: 99px;
    display: flex;
    border: 1px solid var(--border-color);
}

.intro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 99px;
}

.bg-works {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.cards-container {
    gap: 36px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bg-about {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    gap: 56px;
    display: flex;
    flex-direction: column;
}

.about-main {
    display: flex;
    height: 100%;
    gap: 40px;
}



.about-div-heading {
    font-size: 32px;
    font-weight: 500;
}

.about-img {
    height: 40vh;
    width: 100%;
    border-radius: 36px;
    min-height: fit-content;
    flex: 1 1 30%;
    box-sizing: border-box;
    display: flex;
}

.about-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 36px;
}

.about-main-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.about-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--secondary-color);
    border-radius: 36px;
    flex: 1 1 70%;
    box-sizing: border-box;
}

.about-main-heading {
    font-size: 28px;
    font-weight: 600;
}

.about-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}


.main-card {
    display: flex;
    height: calc(100vh - 296px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: var(--secondary-color);
    transition: transform 0.05s ease-in-out;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 1px solid var(--black-2-color);
    overflow: hidden; /* Ensures no overflow from scaling */
    transition: cursor .3s ease-in-out;
}

.linkedin-card {
    display: flex;
    height: 100vh;
    width: 100vh;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 36px;
    background: var(--secondary-color);
}

.sub-card {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    backdrop-filter: blur(0px);
    opacity: 0; 
    visibility: hidden;
    transition: backdrop-filter 0.3s cubic-bezier(0,-.6,0,1.07), opacity 0.3s cubic-bezier(0,-.6,0,1.07), background-color 0.3s cubic-bezier(0,-.6,0,1.07);
    background-color: rgba(0, 0, 0, 0);
}


.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
}

.main-heading {
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    text-align: center;
    width: 70%;
    line-height: 1.2;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
}

.heading-type {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--grey-bg-b-color);
    text-align: center;
    text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
}


.main-card:hover {
    .sub-card {
        background-color: rgba(0, 0, 0, 0.30);
        backdrop-filter: blur(60px);
        opacity: 1; /* Make visible on hover */
        visibility: visible; /* Ensure element is visible */
        transition: backdrop-filter 0.3s cubic-bezier(0,-.6,0,1.07), opacity 0.3s cubic-bezier(0,-.6,0,1.07), background-color 0.3s cubic-bezier(0,-.6,0,1.07);
    }

    img {
        height: 120%;
        width: 120%;
        transition: 0.02s ease-in;
    }

    .heading-type {
        color: var(--text-color);
    }
    transition: backdrop-filter 0.05s ease-in-out;
}

.main-card:active {
    transform: scale(0.98) !important;
}



.bg-footer {
    width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4);
    margin: auto;
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.footer-main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.footer-main a {
    color: var(--white-color);
    font-weight: 300;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
    font-weight: 300;
}


.footer-white {
    color: var(--white-color);
}


.footer-grey {
    color: var(--grey-bg-b-color) !important;
}

.footer-link {
    color: var(--white-color);
}

.footer-link:hover {
    text-decoration: underline;
}

.toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    /* Slide down effect */
    transition: opacity 1.5s ease, transform 0.8s ease;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(20px);
    /* Slide down effect */
    transition: opacity 1.5s ease, transform 0.8s ease;
}

.translate-text-b {
    transform: translateY(-30px);
    transition: opacity 1.5s ease-in-out transform 1.5s;
}

.translate-text-down {
    transform: translateY(20px);
    transition: opacity 1.5s ease-in-out transform 1.5s;
}

.translate-text-up {
    transform: translateY(-40px);
    transition: opacity 1.5s ease-in-out transform 1.5s;
}



#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

#loading-text {
    font-size: 16px;
    font-weight: 300;
    transition: transform 0.5s ease;
    color: var(--white-color);
}


a {
    text-decoration: none;
    color: var(--white-color);
}

/* Scrollbar */



::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: var(--black-color);
}

::-webkit-scrollbar-track {
    background: var(--black-2-color);
    border-radius: 99px;
}

::-webkit-scrollbar-thumb {
    background: var(--teritiary-color);
    border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grey-bg-b-color);
}


/* Responsiveness */

@media (max-width:1220px) {

    .nav-main,
    .bg-about,
    .bg-main {
        width: calc(min(1440px, 100vw) - var(--ps-gutter) / 8);
    }

    .bg-footer {
        width: calc(min(1440px, 100vw) - var(--ps-gutter) / 8);
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        margin: auto;
        padding: 80px 0;
    }
}



@media (max-width:674px) {

    .cards-container {
        grid-template-columns: 1fr;
    }

    .intro-section-main {
        margin-top: unset;
        margin-bottom: unset;
    }

    .main-card {
        height: 60vh;
    }

    .intro-content {
        margin-top: 14vh;
    }
}


@media (max-width:674px) {

    .about-main,
    .footer-main {
        flex-direction: column;
    }

    .nav-main,
    .bg-about,
    .bg-main {
        width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2);
    }

    .bg-footer {
        width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2) !important;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        margin: auto;
        padding: 80px 0;
    }

    .btn-1 {
        width: fit-content;
        background: var(--secondary-color);
    }

    .footer-main {
        align-items: flex-start !important;
        gap: 48px !important;
        justify-content: flex-start !important;
    }

    .bg-main {
        padding: 80px 0;
        gap: 40px;
    }

    .menu-container {
        display: flex;
        top: 52px;
        left: 0;
        padding: 40px 24px;
        justify-content: flex-start;
        transform: translateY(-20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        opacity: 0;
        background: var(--black-color);
        border-bottom: 1px solid var(--border-color);
        box-sizing: border-box;
    }

    .mob-nav-btns {
        display: flex;
        gap: 40px;
        flex-direction: column;
    }


    .nav-btns {
        display: none;
        flex-direction: column;
        gap: 40px;
    }

    .nav-btns:active {
        display: flex;
    }


    .menu-icon {
        display: block;
    }

    .cards-container {
        gap: 48px;
    }

    .about-content {
        padding: 20px;
    }

    .btn-3 {
        width: fit-content;
    }

    .btn-1:active,
    .btn-2:active,
    .btn-3:active {
        transform: scale(0.9) !important;
    }

    .main-card:active {
        transform: scale(0.9) !important;
    }


    .mob-btn-1 {
        background-color: unset !important;
        padding: unset !important;
        font-size: 20px;
        text-decoration: none;
        color: var(--white-color);
        font-weight: 300;
    }

    .mob-btn-2 {
        background-color: var(--black-2-color);
        font-size: 16px;
        color: var(--white-color);
        text-transform: capitalize;
    }

    .btn-2 {
        padding: 0px !important;
        width: fit;
    }

    .menu-container.active {
        display: block;
        /* Show the menu container when active */
        opacity: 1;
        /* Fade in */
        transform: translateY(0);
        /* Slide down to the original position */
        visibility: visible;
    }


    .menu-icon.clicked {
        transform: scale(0.98);
        /* Scale effect on click */
    }

    .main-card {
        padding: 8px;
    }

    .sub-card {
        padding: 14px;
        height: unset;
        background-color: rgba(0, 0, 0, 0.60);
        backdrop-filter: blur(60px);
        opacity: 1; /* Make visible on hover */
        visibility: visible; /* Ensure element is visible */
        transition: backdrop-filter 0.3s cubic-bezier(0,-.6,0,1.07), opacity 0.3s cubic-bezier(0,-.6,0,1.07), background-color 0.3s cubic-bezier(0,-.6,0,1.07);
    }

    .card-content {
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }

    .main-heading {
        width: 100%;
        text-align: left;
        text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
    }

    .heading-type {
        text-align: right;
        text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.45);
    }

}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: calc(min(1440px, 100vw) - var(--ps-gutter) / 4 );
  margin: auto;
}

.project-details-main {
  padding-top: 160px;
}

.breadcrumb {
  display: flex;
  gap: 10px;
}

.b-active {
  font-size: 14px;
  font-weight: 600;
  color: var(--white-color);
}

.b-inactive {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-bg-b-color);
}

.b-inactive:hover {
  color: var(--black-2-color);
  cursor: pointer;
}

.pd-heading-main-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.pd-main-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--white-color);
}

.pd-sub-heading {
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-bg-b-color);
}



.pd-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.pd-heading-div {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.pd-heading-sub-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  color: var(--white-color);
}

.pd-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.p-img-1 {
  width: 100%;
  height: 50vh;
}

.p-img-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-img-2 {
  width: 100%;
  height: 100vh;
}

.p-img-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pd-main-heading-2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--white-color);
}

.pd-sub-heading-2 {
  font-size: 16px;
  font-weight: 300;
  color: var(--grey-bg-b-color);
  margin-bottom: 16px;
}


.p-main-imgs {
  display: flex;
  flex-direction: column;
}

.p-2imgs-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



@media (max-width:674px) {

  .project-details {
      gap: 56px;
      width: calc(min(1440px, 100vw) - var(--ps-gutter-mob) * 2 );
  }

  .pd-main {
      flex-direction: column;
  }

  .pd-heading-div {
      width: 100%;
  }

  .pd-content {
      width: 100%;
  }

  .pd-heading-main-div {
      flex-direction: row;
      gap: 24px;
      justify-content: space-between;
      width: 100%;
  }
  .p-main-imgs {
      gap: 24px;
  }
  .p-2imgs-2 {
      gap: 24px;
      grid-template-columns: 1fr;
  }

  .project-details-main {
      padding-top: 80px ;
  }
}
