@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: #000000;
  --black-2-color: #202020;
  --white-color: #ffffff;
  --border-color: #333333;
  --grey-bg-b-color: #808080;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  background-color: var(--black-color);
  @apply text-white antialiased;
}

.nav-bar {
  @apply fixed w-full z-50 bg-black/90 backdrop-blur-sm border-b border-[#333333] transition-transform duration-300;
}

.intro-link {
  @apply mr-2.5 cursor-pointer hover:underline;
}

.card-project {
  @apply relative aspect-[3/4] overflow-hidden cursor-pointer border border-[#202020] transition-all duration-300;
}

.card-project img {
  @apply w-full h-full object-cover transition-transform duration-500;
}

.card-overlay {
  @apply absolute inset-0 bg-black/30 opacity-0 backdrop-blur-[60px] transition-all duration-300
         flex items-end p-8;
}

.card-project:hover {
  .card-overlay {
    @apply opacity-100;
  }
  
  img {
    @apply scale-110;
  }
}

/* Fade In Animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}